[Unit]
Description=Fetch missing lyrics (.lrc) daily at 03:00

[Timer]
OnCalendar=*-*-* 03:00:00
Persistent=true
Unit=lyrics.service

[Install]
WantedBy=timers.target
